body{
  background-color: white;
}
.top-nav{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  z-index: 200;
}
.top-nav.active{
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
}

.logo:link{
  position: relative;
  color: #ccc;
  display: inline-block;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  
}
.logo:visited{
  color: #ccc;
}
.logo:hover{
  background-color: brown;
}
.logo img{
  position: relative;
  padding: 12px 18px;
  width: 100px;
  vertical-align: middle;
}
.topnav .icon {
  display: none;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 26px;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
  color: #0494d6;
  border-bottom: 2px solid #0494d6;
  background: #0497d61c;
}
nav {
  padding-left: 25px;
  padding-right: 25px;
}
nav a:first-child {
  float: left;
  display: block;
  text-align: left;
}

nav a:not(:first-child) {
  float: right;
  display: block;
  padding: 14px 16px;
}
.dashboard-nav {
  overflow: hidden;
  background: #0494d6;
}
.dashboard-nav a:hover {
  background-color: #ddd;
  color: black;
}

.dashboard-nav .icon {
  display: none;
}

.dashboard-link {
  color: #fff;    
}
.container-top{
  position: relative;
  background-color: darkred;
  margin-top: 70px;
  padding: 50px;
  color: #ccc;
  font-size: 35px;
  text-align: center;
  text-decoration: aqua;
}
.container {
  position: relative;
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}
.dark-text {
  margin-left: 40%;
  width: 190px;
  border-left: #000;
  color: #ccc;
  font-size: 35px;
  text-align: center;
  
}
.sub-text {
  font-size: 32px;
}

.house-row-ul {
  display: flex;
  flex-basis: 90px;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  height: auto;
}
.house-row-li {
  width: 200px;
  height: 180px;
  border: 1px solid #c4c4c4;
  background: #fff;
}

.house-row-li:hover {
      box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
}
.house-row-img {
  width: 200px;
  height: 180px;  
  
}
.text-wrapper, :link{
  margin-top: 15px;
  color: #000;
  font-size: 20px;
  text-decoration: none;
}
.mt-30 {
  margin-top: 100px;
}
footer {
  background: #0494d6;
  height: auto;
  padding: 20px;
  text-align: center;
}

.footer-ul>li {
  padding: 10px;
}

.footer-link {
  margin: 5px;
}
.small-text {
  margin-bottom: 4px;
  font-size: 26px;
}
.white-text {
  color: red;
}
.d-flex-col {
  display: flex;
  flex-direction: column;
}